body {
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    background-image: linear-gradient(to right, red, orange , white, white, orange, red);
}
h1 {
    background-color: darkred;
    color: aliceblue;
}
p {
    background-color: lightcoral;
    border: darkred solid 2px;
    padding: 1rem;
}
button {
    margin: .5rem;
    padding: 1rem;
    background-color: pink;
    border: black solid 2px;
}
